<div class="icons">
    <ul class="icons">
        <li class="active"><img src="img/monster-1-icon.png" /></li>
        <li><img src="img/monster-2-icon.png" /></li>
        <li><img src="img/monster-3-icon.png" /></li>
        <li><img src="img/monster-4-icon.png" /></li>
        <li><img src="img/Orange-icon.png" /></li>
        <li><img src="img/Purple-icon.png" /></li>
        <li><img src="img/Red-icon.png" /></li>
        <li><img src="img/Yellow-icon.png" /></li>
    </ul>
    <div class="controls"><a href="#back" class="left disabled">back</a><a href="#next" class="right">next</a></div>
</div>